In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def logic_win(x,x_r):
    return (x >= x_r[0]) & (x < x_r[1])

#### Import and clean dataset, select out London

In [2]:
path = '../Data/UK/combined_collisions_v2.csv'

df = pd.read_csv(path,low_memory=False)
df.drop(columns='Unnamed: 0',inplace=True)

In [3]:
#Time column has some nans in it, must drop those entries

def is_str(x):
    Nx = len(x)
    I = np.ones(Nx).astype(bool)
    for ii in range(Nx):
        if type(x[ii]) != str:
            I[ii] = False
    return I

df = df.loc[is_str(df.Time.values),:]
df.aadf_Count_point_id = df.aadf_Count_point_id.values.astype(int)

In [4]:
#make hour, year and month columns
    #hour will be rounded 
def get_hour(T):
    Nt = len(T)
    H = np.zeros(Nt).astype(int)
    for ii in range(Nt):
        s = T[ii].split(':')
        h = int(s[0])
        m = int(s[1])
        if m > 30:
            h += 1
        H[ii] = h % 24
    return H

def get_ymd(D):
    Nd = len(D)
    # |
    ymd = np.zeros((Nd,3)).astype(int)
    for ii in range(Nd):
        s = D[ii].split('-')
        for nn in range(3):
            ymd[ii,nn] = int(s[nn])
    return ymd

def reformat_aadf_year(Year):
    Ny = len(Year)
    y = np.zeros(Ny).astype(int)
    for ii in range(Ny):
        y[ii] = int(Year[ii].split('-')[0])
    return y

df[['y','m','d']] = get_ymd(df.Date.values)
df['h'] = get_hour(df.Time.values)
#df['aadf_Year'] = reformat_aadf_year(df.aadf_Year.values)

##### Below selects out region. You can use Dan's feature to select Greater London, this selects Central London.
- additionally I drop all entries with no traffic counter matches

In [5]:
#central London box
Lat_r = [51.475,51.543]
Lon_r = [-0.179,0.023]

I_lat = (df.Latitude > Lat_r[0]) & (df.Latitude < Lat_r[1])
I_lon = (df.Longitude > Lon_r[0]) & (df.Longitude < Lon_r[1])
I = I_lat & I_lon

df_lond = df.loc[I,:].copy()

In [6]:
#drop all data that don't have traffic matches

I = df_lond.match == True
df_lond = df_lond.loc[I,:]
df_lond.aadf_Year = reformat_aadf_year(df_lond.aadf_Year.values)

#### Make neighborhoods feature

In [7]:
#Make a 3 (Lat, N/S) x 6 (Lon, E/W) grid
Nlat = 3
Nlon = 6
Nneigh = Nlon*Nlat

edges_lat = np.linspace(*Lat_r,Nlat+1)
dlat = np.diff(edges_lat)[0]
bins_lat = edges_lat[:-1]+0.5*dlat
edges_lon = np.linspace(*Lon_r,Nlon+1)
dlon = np.diff(edges_lon)[0]
bins_lon = edges_lon[:-1]+0.5*dlon

coord_neigh = [None]*Nneigh

df_lond['neigh'] = 0 #initialize neighborhood feature
ir = 0 #these are lat bins (rows)
ic = 0 #lon bins
for ii in range(Nneigh):
    Ilat = logic_win(df_lond.Latitude,(edges_lat[ir],edges_lat[ir+1]))
    Ilon = logic_win(df_lond.Longitude,(edges_lon[ic],edges_lon[ic+1]))
    I = Ilat & Ilon
    df_lond.loc[I,'neigh'] = ii
    
    coord_neigh[ii] = np.array([bins_lat[ir],bins_lon[ic]])
    
    ic+=1
    if ic == Nlon:
        ic = 0
        ir+=1

In [8]:
#Make a feature for if there is a match to a CLT feature or not (is there a bike lane or not?)

Inan = np.isnan(df_lond.aadf_CLT_SHARED.values)
df_lond['bikelane'] = np.ones(df_lond.shape[0]).astype(bool)
df_lond.loc[Inan,'bikelane'] = False

#replace NaNs in aadf_CLT data with -9 (NaNs don't work well with some statistical functions)
    #also reformat data types to int
num_nan = -9
f_cast2int = ['aadf_CLT_CARR', 'aadf_CLT_SEGREG', 'aadf_CLT_STEPP', 'aadf_CLT_PARSEG',
       'aadf_CLT_SHARED', 'aadf_CLT_MANDAT', 'aadf_CLT_ADVIS',
       'aadf_CLT_PRIORI', 'aadf_CLT_CONTRA', 'aadf_CLT_BIDIRE',
       'aadf_CLT_CBYPAS', 'aadf_CLT_BBYPAS', 'aadf_CLT_PARKR',
       'aadf_CLT_WATERR', 'aadf_CLT_PTIME']

for f in f_cast2int:
    df_lond.loc[Inan,f] = num_nan
    df_lond[f] = df_lond[f].values.astype(int)

In [9]:
traf_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().index)
Ninc_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().values)

Nthresh = 10 #this sets which traffic counters are included, they must have at least this many accidents 

I = Ninc_IDs >= Nthresh #this will select roads to include in the new DataFrame based on if they had at least this many accidents
I.sum()

IDs_df = traf_IDs[I]
Nid = len(IDs_df)

df_road = pd.DataFrame({'ID':IDs_df})
slight_rd = np.zeros(Nid).astype(int)
ser_rd = np.zeros(Nid).astype(int)
total_rd = np.zeros(Nid).astype(int)
for nn,ii in enumerate(IDs_df):
    I = df_lond.aadf_Count_point_id.values == ii
    total_rd[nn] = I.sum()
    slight_rd[nn] = df_lond.loc[I,'slight'].values.sum()
    ser_rd[nn] = total_rd[nn] - slight_rd[nn]
df_road['total'] = total_rd
df_road['slight'] = slight_rd
df_road['serious'] = ser_rd

safety_mode = ['neigh','Road_name','Road_name2','h','Day_of_Week','m','Speed_limit','Junction_Detail','Junction_Control','Pedestrian_Crossing-Physical_Facilities']
aadf_av = ['distance_to_cp','aadf_Pedal_cycles','aadf_Pedal_cycles','aadf_All_motor_vehicles','aadf_All_HGVs','aadf_LGVs','aadf_Buses_and_coaches']
aadf_mode = ['bikelane','aadf_Road_name','aadf_Road_category','aadf_Road_type','aadf_CLT_CARR', 'aadf_CLT_SEGREG', 'aadf_CLT_STEPP', 'aadf_CLT_PARSEG',
       'aadf_CLT_SHARED', 'aadf_CLT_MANDAT', 'aadf_CLT_ADVIS',
       'aadf_CLT_PRIORI', 'aadf_CLT_CONTRA', 'aadf_CLT_BIDIRE',
       'aadf_CLT_CBYPAS', 'aadf_CLT_BBYPAS', 'aadf_CLT_PARKR',
       'aadf_CLT_WATERR', 'aadf_CLT_PTIME']

for f in safety_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]

for f in aadf_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]
        
for f in aadf_av:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mean()
        
df_road['total_norm'] = df_road['total'].values/df_road['aadf_Pedal_cycles'].values
df_road['serious_ratio'] = df_road['serious'].values/df_road['total'].values

In [11]:
#add in aadf year availability metadata 
path_year = '../Data/UK/aadf_year_meta.csv'
df_year = pd.read_csv(path_year)

#merge the metadata into df_road
feat_add = list(df_year.columns)
feat_add.remove('Count_point_id')
for c in feat_add:
    df_road[c] = np.zeros(Nid).astype(int)
    for ii,ID in enumerate(df_road.ID.values):
        I = df_year.Count_point_id == ID
        df_road.loc[ii,c] = df_year.loc[I,c].values

#### Here is the final DataFrame, feel free to save your own version

In [12]:
df_road.sample(20)

,ID,total,slight,serious,neigh,Road_name,Road_name2,h,Day_of_Week,m,...,aadf_All_motor_vehicles,aadf_All_HGVs,aadf_LGVs,aadf_Buses_and_coaches,total_norm,serious_ratio,N_year,Year_start,Year_end,Max_year_gap
232,37662,20,19,1,8,A3200,C,18,3,10,...,15730.800000,618.950000,2527.650000,439.650000,0.007493,0.050000,22,2000,2021,1
327,56751,10,9,1,13,A400,U,18,6,3,...,13813.500000,511.900000,2390.700000,908.000000,0.011269,0.100000,22,2000,2021,1
75,56965,51,41,10,7,A3036,U,8,3,8,...,21909.568627,903.117647,4020.411765,1457.686275,0.016113,0.196078,22,2000,2021,1
150,48549,31,27,4,8,A200,U,9,5,6,...,10185.935484,333.225806,1322.935484,1617.064516,0.011486,0.129032,22,2000,2021,1
117,56939,39,33,6,8,A3200,U,9,4,7,...,18392.282051,755.948718,3435.153846,1034.846154,0.012750,0.153846,22,2000,2021,1
112,17496,40,33,7,9,A1202,U,9,4,9,...,13544.425000,479.150000,2315.825000,80.325000,0.032196,0.175000,22,2000,2021,1
44,8475,64,58,6,14,A5201,A5201,9,5,3,...,46149.625000,2351.078125,8427.515625,1069.531250,0.011847,0.093750,22,2000,2021,1
169,26114,28,27,1,7,A4,U,10,6,11,...,13048.571429,380.214286,2226.857143,2128.535714,0.013642,0.035714,22,2000,2021,1
11,17498,117,98,19,15,A1208,U,18,4,5,...,18828.521368,905.623932,3754.282051,1022.555556,0.054314,0.162393,22,2000,2021,1
153,48574,31,24,7,8,A501,C,9,3,9,...,18776.870968,572.483871,2792.741935,1682.354839,0.011715,0.225806,22,2000,2021,1
183,37102,26,24,2,14,A401,U,7,3,1,...,11260.692308,437.461538,1808.500000,1275.692308,0.007664,0.076923,22,2000,2021,1
322,47245,11,10,1,13,A501,U,9,5,11,...,75187.454545,2505.909091,12138.272727,2122.181818,0.005130,0.090909,22,2000,2021,1
288,75427,15,15,0,11,A1261,A1261,17,5,1,...,49166.066667,2506.066667,6476.800000,452.200000,0.149601,0.000000,22,2000,2021,1
236,73641,20,18,2,0,A3217,A3217,18,6,6,...,19223.800000,381.000000,2084.500000,216.450000,0.012673,0.100000,22,2000,2021,1
279,8376,15,15,0,17,A11,A11,18,3,3,...,32525.933333,872.066667,3196.466667,2226.600000,0.015989,0.000000,22,2000,2021,1
41,37101,66,54,12,13,A400,A400,9,3,8,...,24991.212121,992.757576,4505.757576,1047.090909,0.017853,0.181818,22,2000,2021,1
54,16069,61,56,5,14,A1,C,9,2,10,...,16302.032787,562.983607,2578.327869,1128.377049,0.024447,0.081967,22,2000,2021,1
91,56625,46,41,5,6,A40,A40,16,5,8,...,12071.782609,324.239130,908.478261,5225.086957,0.034652,0.108696,22,2000,2021,1
43,28521,64,52,12,9,A100,na0,9,3,6,...,32511.312500,1188.843750,6852.937500,1158.343750,0.016580,0.187500,22,2000,2021,1
31,6094,76,68,8,2,A2,A2,9,4,6,...,12253.013158,431.171053,2732.250000,395.473684,0.059584,0.105263,22,2000,2021,1

In [14]:
save_path = '../DataFrames/df_road_v2.csv'
df_road.to_csv(save_path,index_label=False)