In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def logic_win(x,x_r):
    return (x >= x_r[0]) & (x < x_r[1])

#### Import and clean dataset, select out London

In [2]:
path = 'combined_collisions.csv'

df = pd.read_csv(path)
df.drop(columns='Unnamed: 0',inplace=True)

In [3]:
#Time column has some nans in it, must drop those entries

def is_str(x):
    Nx = len(x)
    I = np.ones(Nx).astype(bool)
    for ii in range(Nx):
        if type(x[ii]) != str:
            I[ii] = False
    return I

df = df.loc[is_str(df.Time.values),:]
df.aadf_Count_point_id = df.aadf_Count_point_id.values.astype(int)

In [4]:
#make hour, year and month columns
    #hour will be rounded 
def get_hour(T):
    Nt = len(T)
    H = np.zeros(Nt).astype(int)
    for ii in range(Nt):
        s = T[ii].split(':')
        h = int(s[0])
        m = int(s[1])
        if m > 30:
            h += 1
        H[ii] = h % 24
    return H

def get_ymd(D):
    Nd = len(D)
    # |
    ymd = np.zeros((Nd,3)).astype(int)
    for ii in range(Nd):
        s = D[ii].split('-')
        for nn in range(3):
            ymd[ii,nn] = int(s[nn])
    return ymd

def reformat_aadf_year(Year):
    Ny = len(Year)
    y = np.zeros(Ny).astype(int)
    for ii in range(Ny):
        y[ii] = int(Year[ii].split('-')[0])
    return y

df[['y','m','d']] = get_ymd(df.Date.values)
df['h'] = get_hour(df.Time.values)
#df['aadf_Year'] = reformat_aadf_year(df.aadf_Year.values)

##### Below selects out region. You can use Dan's feature to select Greater London, this selects Central London.
- additionally I drop all entries with no traffic counter matches

In [5]:
#central London box
Lat_r = [51.475,51.543]
Lon_r = [-0.179,0.023]

I_lat = (df.Latitude > Lat_r[0]) & (df.Latitude < Lat_r[1])
I_lon = (df.Longitude > Lon_r[0]) & (df.Longitude < Lon_r[1])
I = I_lat & I_lon

df_lond = df.loc[I,:].copy()

In [6]:
#drop all data that don't have traffic matches

I = df_lond.match == True
df_lond = df_lond.loc[I,:]
df_lond.aadf_Year = reformat_aadf_year(df_lond.aadf_Year.values)

#### Make neighborhoods feature

In [7]:
#Make a 3 (Lat, N/S) x 6 (Lon, E/W) grid
Nlat = 3
Nlon = 6
Nneigh = Nlon*Nlat

edges_lat = np.linspace(*Lat_r,Nlat+1)
dlat = np.diff(edges_lat)[0]
bins_lat = edges_lat[:-1]+0.5*dlat
edges_lon = np.linspace(*Lon_r,Nlon+1)
dlon = np.diff(edges_lon)[0]
bins_lon = edges_lon[:-1]+0.5*dlon

coord_neigh = [None]*Nneigh

df_lond['neigh'] = 0 #initialize neighborhood feature
ir = 0 #these are lat bins (rows)
ic = 0 #lon bins
for ii in range(Nneigh):
    Ilat = logic_win(df_lond.Latitude,(edges_lat[ir],edges_lat[ir+1]))
    Ilon = logic_win(df_lond.Longitude,(edges_lon[ic],edges_lon[ic+1]))
    I = Ilat & Ilon
    df_lond.loc[I,'neigh'] = ii
    
    coord_neigh[ii] = np.array([bins_lat[ir],bins_lon[ic]])
    
    ic+=1
    if ic == Nlon:
        ic = 0
        ir+=1

#### Make a DataFrame using df_lond that has entries only for traffic IDs. Main feature is # of incidents.Â¶
- Other features are the aadf features that go along with the ID
- Also maybe some averaged features from accidents dataset (like junction control, maybe just use the classification with the most entries for that ID)
- Maybe the target variable should be number of incidents normalized by the bike volume (this is prob. of an incident)

##### Features to include
- all aadf features (do they neeed to be averaged over year? Maybe just average anyway)
- modes of classification features in accidents
- num. of incidents
- num. of serious and fatal incidents
- num. of incidents normalized to bike volume from aadf

In [8]:
traf_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().index)
Ninc_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().values)

Nthresh = 10 #this sets which traffic counters are included, they must have at least this many accidents 

I = Ninc_IDs >= Nthresh #this will select roads to include in the new DataFrame based on if they had at least this many accidents
I.sum()

IDs_df = traf_IDs[I]
Nid = len(IDs_df)

df_road = pd.DataFrame({'ID':IDs_df})
slight_rd = np.zeros(Nid).astype(int)
ser_rd = np.zeros(Nid).astype(int)
total_rd = np.zeros(Nid).astype(int)
for nn,ii in enumerate(IDs_df):
    I = df_lond.aadf_Count_point_id.values == ii
    total_rd[nn] = I.sum()
    slight_rd[nn] = df_lond.loc[I,'slight'].values.sum()
    ser_rd[nn] = total_rd[nn] - slight_rd[nn]
df_road['total'] = total_rd
df_road['slight'] = slight_rd
df_road['serious'] = ser_rd

safety_mode = ['neigh','Road_name','Road_name2','h','Day_of_Week','m','Speed_limit','Junction_Detail','Junction_Control','Pedestrian_Crossing-Physical_Facilities']
aadf_av = ['distance_to_cp','aadf_Pedal_cycles','aadf_Pedal_cycles','aadf_All_motor_vehicles','aadf_All_HGVs','aadf_LGVs','aadf_Buses_and_coaches']
aadf_mode = ['aadf_Road_name','aadf_Road_category','aadf_Road_type']
for f in safety_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]

for f in aadf_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]
        
for f in aadf_av:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mean()
        
df_road['total_norm'] = df_road['total'].values/df_road['aadf_Pedal_cycles'].values
df_road['serious_ratio'] = df_road['serious'].values/df_road['total'].values

In [9]:
#add in aadf year availability metadata 
path_year = 'aadf_year_meta.csv'
df_year = pd.read_csv(path_year)

#merge the metadata into df_road
feat_add = list(df_year.columns)
feat_add.remove('Count_point_id')
for c in feat_add:
    df_road[c] = np.zeros(Nid).astype(int)
    for ii,ID in enumerate(df_road.ID.values):
        I = df_year.Count_point_id == ID
        df_road.loc[ii,c] = df_year.loc[I,c].values

#### Here is the final DataFrame, feel free to save your own version

In [10]:
df_road.sample(20)

,ID,total,slight,serious,neigh,Road_name,Road_name2,h,Day_of_Week,m,...,aadf_All_motor_vehicles,aadf_All_HGVs,aadf_LGVs,aadf_Buses_and_coaches,total_norm,serious_ratio,N_year,Year_start,Year_end,Max_year_gap
202,56506,23,21,2,15,A107,B118,10,3,9,...,18463.086957,805.695652,2650.173913,1097.782609,0.037288,0.086957,22,2000,2021,1
296,8083,14,12,2,12,A41,U,18,7,6,...,27084.642857,637.214286,3313.785714,1688.571429,0.039668,0.142857,22,2000,2021,1
184,80722,26,23,3,13,A5202,na0,7,4,5,...,15946.038462,159.576923,525.500000,407.269231,0.055578,0.115385,18,2004,2021,1
117,56939,39,33,6,8,A3200,U,9,4,7,...,18392.282051,755.948718,3435.153846,1034.846154,0.012750,0.153846,22,2000,2021,1
259,26184,17,14,3,8,A3,na0,19,4,5,...,16459.647059,667.705882,3133.588235,1643.411765,0.004468,0.176471,22,2000,2021,1
110,75396,41,34,7,8,A201,A3211,9,6,9,...,35187.268293,1018.365854,5346.268293,1087.609756,0.008101,0.170732,22,2000,2021,1
194,57532,24,19,5,2,A302,A3,9,5,8,...,16101.416667,616.333333,2686.958333,1290.791667,0.024223,0.208333,22,2000,2021,1
100,48543,44,40,4,14,A501,U,9,5,1,...,28768.659091,1352.272727,4909.090909,1015.000000,0.026513,0.090909,22,2000,2021,1
271,28383,16,14,2,2,A23,A202,18,3,1,...,18795.625000,549.562500,2928.250000,833.500000,0.005125,0.125000,13,2000,2012,1
69,28123,54,47,7,7,A301,A3200,7,2,3,...,29881.537037,682.166667,4686.185185,4407.370370,0.008092,0.129630,22,2000,2021,1
72,37704,52,44,8,1,A3212,C,9,4,5,...,24685.192308,1093.826923,4303.596154,886.692308,0.011661,0.153846,22,2000,2021,1
304,74973,13,13,0,6,A41,C,9,3,3,...,4747.769231,92.384615,487.846154,26.461538,0.022225,0.000000,22,2000,2021,1
222,58060,21,17,4,14,A1,A501,8,4,4,...,16163.000000,710.619048,2700.047619,442.714286,0.040638,0.190476,22,2000,2021,1
83,48687,49,42,7,8,A10,A1211,18,4,4,...,19774.367347,822.469388,3108.469388,1722.734694,0.011728,0.142857,22,2000,2021,1
219,27579,21,20,1,14,A1200,U,9,3,3,...,21674.952381,598.285714,3694.809524,458.190476,0.014615,0.047619,22,2000,2021,1
310,56897,12,11,1,17,A1011,U,6,6,9,...,17775.000000,771.083333,2894.583333,549.000000,0.085612,0.083333,22,2000,2021,1
42,28745,64,56,8,8,A10,C,9,4,7,...,19597.406250,864.312500,3045.031250,1784.968750,0.014402,0.125000,22,2000,2021,1
168,57902,28,23,5,14,A501,A501,10,5,10,...,16849.214286,768.142857,3528.928571,433.607143,0.115413,0.178571,22,2000,2021,1
256,56099,18,16,2,8,A3,U,9,4,11,...,15152.611111,620.222222,2548.333333,1511.444444,0.006706,0.111111,22,2000,2021,1
238,75343,20,19,1,2,A202,U,18,6,6,...,17464.500000,637.350000,2683.750000,1330.650000,0.009643,0.050000,22,2000,2021,1