In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def logic_win(x,x_r):
    return (x >= x_r[0]) & (x < x_r[1])

#### Import and clean dataset, select out London

In [7]:
path = '../Data/UK/combined_collisions_v2.csv'

df = pd.read_csv(path,low_memory=False)
df.drop(columns='Unnamed: 0',inplace=True)

In [8]:
#Time column has some nans in it, must drop those entries

def is_str(x):
    Nx = len(x)
    I = np.ones(Nx).astype(bool)
    for ii in range(Nx):
        if type(x[ii]) != str:
            I[ii] = False
    return I

df = df.loc[is_str(df.Time.values),:]
df.aadf_Count_point_id = df.aadf_Count_point_id.values.astype(int)

In [9]:
#make hour, year and month columns
    #hour will be rounded 
def get_hour(T):
    Nt = len(T)
    H = np.zeros(Nt).astype(int)
    for ii in range(Nt):
        s = T[ii].split(':')
        h = int(s[0])
        m = int(s[1])
        if m > 30:
            h += 1
        H[ii] = h % 24
    return H

def get_ymd(D):
    Nd = len(D)
    # |
    ymd = np.zeros((Nd,3)).astype(int)
    for ii in range(Nd):
        s = D[ii].split('-')
        for nn in range(3):
            ymd[ii,nn] = int(s[nn])
    return ymd

def reformat_aadf_year(Year):
    Ny = len(Year)
    y = np.zeros(Ny).astype(int)
    for ii in range(Ny):
        y[ii] = int(Year[ii].split('-')[0])
    return y

df[['y','m','d']] = get_ymd(df.Date.values)
df['h'] = get_hour(df.Time.values)
#df['aadf_Year'] = reformat_aadf_year(df.aadf_Year.values)

##### Below selects out region. You can use Dan's feature to select Greater London, this selects Central London.
- additionally I drop all entries with no traffic counter matches

In [10]:
#central London box
Lat_r = [51.475,51.543]
Lon_r = [-0.179,0.023]

I_lat = (df.Latitude > Lat_r[0]) & (df.Latitude < Lat_r[1])
I_lon = (df.Longitude > Lon_r[0]) & (df.Longitude < Lon_r[1])
I = I_lat & I_lon

#df_lond = df.loc[I,:].copy()
df_lond = df.loc[df.in_london,:]

In [11]:
#drop all data that don't have traffic matches

I = df_lond.match == True
df_lond = df_lond.loc[I,:]
df_lond.aadf_Year = reformat_aadf_year(df_lond.aadf_Year.values)

#### Make neighborhoods feature

In [12]:
#Make a 3 (Lat, N/S) x 6 (Lon, E/W) grid
Nlat = 3
Nlon = 6
Nneigh = Nlon*Nlat

edges_lat = np.linspace(*Lat_r,Nlat+1)
dlat = np.diff(edges_lat)[0]
bins_lat = edges_lat[:-1]+0.5*dlat
edges_lon = np.linspace(*Lon_r,Nlon+1)
dlon = np.diff(edges_lon)[0]
bins_lon = edges_lon[:-1]+0.5*dlon

coord_neigh = [None]*Nneigh

df_lond['neigh'] = 0 #initialize neighborhood feature
ir = 0 #these are lat bins (rows)
ic = 0 #lon bins
for ii in range(Nneigh):
    Ilat = logic_win(df_lond.Latitude,(edges_lat[ir],edges_lat[ir+1]))
    Ilon = logic_win(df_lond.Longitude,(edges_lon[ic],edges_lon[ic+1]))
    I = Ilat & Ilon
    df_lond.loc[I,'neigh'] = ii
    
    coord_neigh[ii] = np.array([bins_lat[ir],bins_lon[ic]])
    
    ic+=1
    if ic == Nlon:
        ic = 0
        ir+=1

In [13]:
#Make a feature for if there is a match to a CLT feature or not (is there a bike lane or not?)

Inan = np.isnan(df_lond.aadf_CLT_SHARED.values)
df_lond['bikelane'] = np.ones(df_lond.shape[0]).astype(bool)
df_lond.loc[Inan,'bikelane'] = False

#replace NaNs in aadf_CLT data with -9 (NaNs don't work well with some statistical functions)
    #also reformat data types to int
num_nan = -9
f_cast2int = ['aadf_CLT_CARR', 'aadf_CLT_SEGREG', 'aadf_CLT_STEPP', 'aadf_CLT_PARSEG',
       'aadf_CLT_SHARED', 'aadf_CLT_MANDAT', 'aadf_CLT_ADVIS',
       'aadf_CLT_PRIORI', 'aadf_CLT_CONTRA', 'aadf_CLT_BIDIRE',
       'aadf_CLT_CBYPAS', 'aadf_CLT_BBYPAS', 'aadf_CLT_PARKR',
       'aadf_CLT_WATERR', 'aadf_CLT_PTIME']

for f in f_cast2int:
    df_lond.loc[Inan,f] = num_nan
    df_lond[f] = df_lond[f].values.astype(int)

In [14]:
traf_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().index)
Ninc_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().values)

Nthresh = 5 #this sets which traffic counters are included, they must have at least this many accidents 

I = Ninc_IDs >= Nthresh #this will select roads to include in the new DataFrame based on if they had at least this many accidents
I.sum()

IDs_df = traf_IDs[I]
Nid = len(IDs_df)

df_road = pd.DataFrame({'ID':IDs_df})
slight_rd = np.zeros(Nid).astype(int)
ser_rd = np.zeros(Nid).astype(int)
total_rd = np.zeros(Nid).astype(int)
for nn,ii in enumerate(IDs_df):
    I = df_lond.aadf_Count_point_id.values == ii
    total_rd[nn] = I.sum()
    slight_rd[nn] = df_lond.loc[I,'slight'].values.sum()
    ser_rd[nn] = total_rd[nn] - slight_rd[nn]
df_road['total'] = total_rd
df_road['slight'] = slight_rd
df_road['serious'] = ser_rd

safety_mode = ['neigh','Road_name','Road_name2','h','Day_of_Week','m','Speed_limit','Junction_Detail','Junction_Control','Pedestrian_Crossing-Physical_Facilities']
aadf_av = ['distance_to_cp','aadf_Pedal_cycles','aadf_Pedal_cycles','aadf_All_motor_vehicles','aadf_All_HGVs','aadf_LGVs','aadf_Buses_and_coaches']
aadf_mode = ['bikelane','aadf_Road_name','aadf_Road_category','aadf_Road_type','aadf_CLT_CARR', 'aadf_CLT_SEGREG', 'aadf_CLT_STEPP', 'aadf_CLT_PARSEG',
       'aadf_CLT_SHARED', 'aadf_CLT_MANDAT', 'aadf_CLT_ADVIS',
       'aadf_CLT_PRIORI', 'aadf_CLT_CONTRA', 'aadf_CLT_BIDIRE',
       'aadf_CLT_CBYPAS', 'aadf_CLT_BBYPAS', 'aadf_CLT_PARKR',
       'aadf_CLT_WATERR', 'aadf_CLT_PTIME','aadf_Link_length_miles']

for f in safety_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]

for f in aadf_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]
        
for f in aadf_av:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mean()
        
df_road['total_norm'] = df_road['total'].values/df_road['aadf_Pedal_cycles'].values
df_road['serious_ratio'] = df_road['serious'].values/df_road['total'].values

C:\Users\mccracken.96\AppData\Local\Temp\1\ipykernel_22048\2197969363.py:51: RuntimeWarning: divide by zero encountered in divide
  df_road['total_norm'] = df_road['total'].values/df_road['aadf_Pedal_cycles'].values

In [15]:
#add in aadf year availability metadata 
path_year = '../Data/UK/aadf_year_meta.csv'
df_year = pd.read_csv(path_year)

#merge the metadata into df_road
feat_add = list(df_year.columns)
feat_add.remove('Count_point_id')
for c in feat_add:
    df_road[c] = np.zeros(Nid).astype(int)
    for ii,ID in enumerate(df_road.ID.values):
        I = df_year.Count_point_id == ID
        df_road.loc[ii,c] = df_year.loc[I,c].values

#### Here is the final DataFrame, feel free to save your own version

In [16]:
df_road.sample(20)

,ID,total,slight,serious,neigh,Road_name,Road_name2,h,Day_of_Week,m,...,aadf_All_motor_vehicles,aadf_All_HGVs,aadf_LGVs,aadf_Buses_and_coaches,total_norm,serious_ratio,N_year,Year_start,Year_end,Max_year_gap
796,47555,13,9,4,0,A1112,U,9,6,7,...,24186.615385,973.000000,2919.461538,230.384615,0.125931,0.307692,22,2000,2021,1
1077,26903,8,7,1,0,A308,U,8,3,7,...,19894.875000,589.875000,1748.250000,1577.250000,0.014839,0.125000,22,2000,2021,1
518,48537,22,19,3,12,A41,na0,10,2,6,...,21844.318182,721.318182,2744.818182,1270.409091,0.081072,0.136364,22,2000,2021,1
688,58164,16,12,4,0,A4,A3218,9,3,4,...,43902.562500,1004.875000,5282.937500,1778.937500,0.015617,0.250000,22,2000,2021,1
1050,75404,9,7,2,9,A11,A1211,9,3,5,...,14352.888889,568.111111,3009.777778,1623.222222,0.011665,0.222222,16,2000,2015,1
435,17688,26,21,5,13,A5200,B502,9,4,3,...,12863.423077,289.423077,1775.000000,678.230769,0.020388,0.192308,22,2000,2021,1
616,37734,18,15,3,0,A4088,U,17,3,3,...,18898.833333,801.833333,3351.611111,425.111111,0.165984,0.166667,22,2000,2021,1
649,17749,17,9,8,0,A30,na0,9,7,4,...,26572.352941,778.588235,3740.235294,277.352941,0.103067,0.470588,22,2000,2021,1
24,16101,122,109,13,1,A3,U,8,4,9,...,20289.827869,699.344262,3498.196721,606.893443,0.027219,0.106557,22,2000,2021,1
224,48543,44,40,4,14,A501,U,9,5,1,...,28768.659091,1352.272727,4909.090909,1015.000000,0.026513,0.090909,22,2000,2021,1
1337,7557,5,3,2,8,A2205,A200,13,3,1,...,4395.600000,223.000000,938.200000,27.200000,0.015404,0.400000,22,2000,2021,1
1171,26781,7,7,0,0,A205,na0,8,5,7,...,17442.428571,855.428571,1845.285714,180.571429,0.024886,0.000000,22,2000,2021,1
1226,28118,6,5,1,0,A4020,A437,9,4,3,...,33398.666667,726.333333,3503.666667,540.333333,0.025299,0.166667,22,2000,2021,1
1376,7795,5,5,0,0,A307,na0,17,2,8,...,13482.000000,165.400000,1310.200000,62.600000,0.031250,0.000000,22,2000,2021,1
296,56674,35,29,6,0,A306,U,8,4,5,...,16571.114286,288.800000,2243.428571,538.342857,0.084535,0.171429,22,2000,2021,1
810,56253,13,12,1,0,A23,U,13,7,8,...,23779.461538,1091.846154,3124.615385,464.153846,0.106625,0.076923,22,2000,2021,1
921,57611,11,10,1,0,A2216,U,9,5,9,...,13878.181818,220.090909,1125.090909,972.909091,0.018570,0.090909,22,2000,2021,1
815,56982,13,13,0,0,A4088,A4089,8,1,11,...,21311.846154,417.000000,2553.307692,1004.461538,0.195150,0.000000,22,2000,2021,1
207,56488,47,40,7,0,A104,U,8,3,5,...,13303.468085,468.510638,1755.744681,738.531915,0.140952,0.148936,22,2000,2021,1
994,36111,9,7,2,0,A3,na0,8,3,5,...,34377.888889,1119.777778,4395.000000,1254.222222,0.016288,0.222222,22,2000,2021,1

In [17]:
save_path = '../DataFrames/df_road_v2_greater.csv'
df_road.to_csv(save_path,index_label=False)