In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def logic_win(x,x_r):
    return (x >= x_r[0]) & (x < x_r[1])

#### Import and clean dataset, select out London

In [3]:
path = '../Data/UK/combined_collisions.csv'

df = pd.read_csv(path)
df.drop(columns='Unnamed: 0',inplace=True)

In [4]:
#Time column has some nans in it, must drop those entries

def is_str(x):
    Nx = len(x)
    I = np.ones(Nx).astype(bool)
    for ii in range(Nx):
        if type(x[ii]) != str:
            I[ii] = False
    return I

df = df.loc[is_str(df.Time.values),:]
df.aadf_Count_point_id = df.aadf_Count_point_id.values.astype(int)

In [5]:
#make hour, year and month columns
    #hour will be rounded 
def get_hour(T):
    Nt = len(T)
    H = np.zeros(Nt).astype(int)
    for ii in range(Nt):
        s = T[ii].split(':')
        h = int(s[0])
        m = int(s[1])
        if m > 30:
            h += 1
        H[ii] = h % 24
    return H

def get_ymd(D):
    Nd = len(D)
    # |
    ymd = np.zeros((Nd,3)).astype(int)
    for ii in range(Nd):
        s = D[ii].split('-')
        for nn in range(3):
            ymd[ii,nn] = int(s[nn])
    return ymd

def reformat_aadf_year(Year):
    Ny = len(Year)
    y = np.zeros(Ny).astype(int)
    for ii in range(Ny):
        y[ii] = int(Year[ii].split('-')[0])
    return y

df[['y','m','d']] = get_ymd(df.Date.values)
df['h'] = get_hour(df.Time.values)
#df['aadf_Year'] = reformat_aadf_year(df.aadf_Year.values)

In [6]:
#central London box
Lat_r = [51.475,51.543]
Lon_r = [-0.179,0.023]

I_lat = (df.Latitude > Lat_r[0]) & (df.Latitude < Lat_r[1])
I_lon = (df.Longitude > Lon_r[0]) & (df.Longitude < Lon_r[1])
I = I_lat & I_lon

df_lond = df.loc[I,:].copy()

In [7]:
#drop all data that don't have traffic matches

I = df_lond.match == True
df_lond = df_lond.loc[I,:]
df_lond.aadf_Year = reformat_aadf_year(df_lond.aadf_Year.values)

#### Make neighborhoods feature

In [8]:
#Make a 3 (Lat, N/S) x 6 (Lon, E/W) grid
Nlat = 3
Nlon = 6
Nneigh = Nlon*Nlat

edges_lat = np.linspace(*Lat_r,Nlat+1)
dlat = np.diff(edges_lat)[0]
bins_lat = edges_lat[:-1]+0.5*dlat
edges_lon = np.linspace(*Lon_r,Nlon+1)
dlon = np.diff(edges_lon)[0]
bins_lon = edges_lon[:-1]+0.5*dlon

coord_neigh = [None]*Nneigh

df_lond['neigh'] = 0 #initialize neighborhood feature
ir = 0 #these are lat bins (rows)
ic = 0 #lon bins
for ii in range(Nneigh):
    Ilat = logic_win(df_lond.Latitude,(edges_lat[ir],edges_lat[ir+1]))
    Ilon = logic_win(df_lond.Longitude,(edges_lon[ic],edges_lon[ic+1]))
    I = Ilat & Ilon
    df_lond.loc[I,'neigh'] = ii
    
    coord_neigh[ii] = np.array([bins_lat[ir],bins_lon[ic]])
    
    ic+=1
    if ic == Nlon:
        ic = 0
        ir+=1

#### Make a DataFrame using df_lond that has entries only for traffic IDs. Main feature is # of incidents.Â¶
- Other features are the aadf features that go along with the ID
- Also maybe some averaged features from accidents dataset (like junction control, maybe just use the classification with the most entries for that ID)
- Maybe the target variable should be number of incidents normalized by the bike volume (this is prob. of an incident)

##### Features to include
- all aadf features (do they neeed to be averaged over year? Maybe just average anyway)
- modes of classification features in accidents
- num. of incidents
- num. of serious and fatal incidents
- num. of incidents normalized to bike volume from aadf

In [9]:
traf_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().index)
Ninc_IDs = np.array(df_lond.aadf_Count_point_id.value_counts().values)

Nthreh = 10 #this sets which traffic counters are included, they must have at least this many accidents 

I = Ninc_IDs >= Nthresh #this will select roads to include in the new DataFrame based on if they had at least this many accidents
I.sum()

IDs_df = traf_IDs[I]
Nid = len(IDs_df)

df_road = pd.DataFrame({'ID':IDs_df})
slight_rd = np.zeros(Nid).astype(int)
ser_rd = np.zeros(Nid).astype(int)
total_rd = np.zeros(Nid).astype(int)
for nn,ii in enumerate(IDs_df):
    I = df_lond.aadf_Count_point_id.values == ii
    total_rd[nn] = I.sum()
    slight_rd[nn] = df_lond.loc[I,'slight'].values.sum()
    ser_rd[nn] = total_rd[nn] - slight_rd[nn]
df_road['total'] = total_rd
df_road['slight'] = slight_rd
df_road['serious'] = ser_rd

safety_mode = ['neigh','Road_name','Road_name2','h','Day_of_Week','m','Speed_limit','Junction_Detail','Junction_Control','Pedestrian_Crossing-Physical_Facilities']
aadf_av = ['aadf_Pedal_cycles','aadf_Pedal_cycles','aadf_All_motor_vehicles','aadf_All_HGVs','aadf_LGVs','aadf_Buses_and_coaches']
aadf_mode = ['aadf_Road_name','aadf_Road_category','aadf_Road_type']
for f in safety_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]

for f in aadf_mode:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mode().values[0]
        
for f in aadf_av:
    df_road[f] = np.zeros(Nid).astype(int)
    for nn,ii in enumerate(IDs_df):
        I = df_lond.aadf_Count_point_id.values == ii
        df_road.loc[nn,f] = df_lond.loc[I,f].mean()
        
df_road['total_norm'] = df_road['total'].values/df_road['aadf_Pedal_cycles'].values
df_road['serious_ratio'] = df_road['serious'].values/df_road['total'].values

In [10]:
#add in aadf year availability metadata 
path_year = '../Data/UK/aadf_year_meta.csv'
df_year = pd.read_csv(path_year)

#merge the metadata into df_road
feat_add = list(df_year.columns)
feat_add.remove('Count_point_id')
for c in feat_add:
    df_road[c] = np.zeros(Nid).astype(int)
    for ii,ID in enumerate(df_road.ID.values):
        I = df_year.Count_point_id == ID
        df_road.loc[ii,c] = df_year.loc[I,c].values

In [11]:
df_road.sample(20)

,ID,total,slight,serious,neigh,Road_name,Road_name2,h,Day_of_Week,m,...,aadf_All_motor_vehicles,aadf_All_HGVs,aadf_LGVs,aadf_Buses_and_coaches,total_norm,serious_ratio,N_year,Year_start,Year_end,Max_year_gap
168,57902,28,23,5,14,A501,A501,10,5,10,...,16849.214286,768.142857,3528.928571,433.607143,0.115413,0.178571,22,2000,2021,1
125,48553,36,30,6,7,A302,A3212,8,2,4,...,50071.361111,1404.750000,5994.055556,2819.388889,0.005777,0.166667,22,2000,2021,1
214,6425,21,19,2,7,A40,A5200,9,4,3,...,21009.666667,635.095238,2471.333333,1310.047619,0.005027,0.095238,22,2000,2021,1
213,18600,21,19,2,8,A4,A40,9,3,9,...,13347.333333,473.857143,1847.285714,254.904762,0.015707,0.095238,22,2000,2021,1
308,58323,12,9,3,3,A2208,U,8,6,6,...,28406.666667,998.916667,5048.666667,628.083333,0.021948,0.250000,22,2000,2021,1
222,58060,21,17,4,14,A1,A501,8,4,4,...,16163.000000,710.619048,2700.047619,442.714286,0.040638,0.190476,22,2000,2021,1
249,7715,18,17,1,13,A5200,A501,15,3,1,...,13770.055556,698.444444,1767.722222,1238.722222,0.021687,0.055556,22,2000,2021,1
303,26429,13,13,0,12,A501,U,21,5,3,...,82157.076923,3177.000000,11204.692308,1639.153846,0.007071,0.000000,22,2000,2021,1
85,26432,48,41,7,6,A402,A402,18,5,10,...,33371.937500,808.354167,4701.625000,1454.729167,0.039990,0.145833,22,2000,2021,1
34,46783,74,61,13,2,A201,U,9,4,6,...,38468.756757,1682.432432,7104.486486,2782.013514,0.027637,0.175676,22,2000,2021,1
280,7043,15,14,1,13,A400,A4201,17,3,6,...,19390.066667,624.000000,3260.200000,1653.200000,0.008100,0.066667,22,2000,2021,1
325,73305,11,9,2,14,A1,A5201,9,3,7,...,14770.000000,531.181818,2326.727273,664.454545,0.008946,0.181818,22,2000,2021,1
154,36804,31,29,2,5,A206,U,13,2,11,...,9282.580645,373.580645,1681.612903,224.354839,0.084143,0.064516,22,2000,2021,1
198,6871,24,21,3,8,A201,A3202,8,4,2,...,18589.458333,888.625000,3283.500000,4746.333333,0.010506,0.125000,22,2000,2021,1
236,73641,20,18,2,0,A3217,A3217,18,6,6,...,19223.800000,381.000000,2084.500000,216.450000,0.012673,0.100000,22,2000,2021,1
68,26430,54,46,8,8,A40,B500,9,6,11,...,32329.444444,694.555556,3589.574074,2247.018519,0.014999,0.148148,22,2000,2021,1
142,56909,33,31,2,9,A1203,na0,9,3,6,...,49668.636364,3215.575758,7585.515152,808.575758,0.040948,0.060606,22,2000,2021,1
126,28878,36,32,4,4,A1206,U,19,3,5,...,9354.111111,141.638889,1133.277778,675.333333,0.037472,0.111111,22,2000,2021,1
192,74971,24,19,5,0,A302,A3217,8,2,9,...,30928.291667,1039.625000,4627.375000,3838.541667,0.019920,0.208333,22,2000,2021,1
65,8506,55,51,4,14,A201,A5201,8,5,6,...,21784.636364,887.618182,3644.781818,436.272727,0.021654,0.072727,22,2000,2021,1